section.intro
    .overlay
    video.intro__video(autoplay loop muted)
        source(src="media/bg-video.mp4")
        | Ваш браузер не поддерживает видео.
    nav.absolute
        ul.intro__navigation
            li.intro__navigation-item
                a(href="#1") Почему мы?
            li.intro__navigation-item
                a(href="#2") Наши услуги
            li.intro__navigation-item
                a(href="#3") Контакты
    .intro-highlight
        h1#intro-header.animated.pulse Мы разрабатываем приложения. И делаем это лучше всех.
        button#intro-button.intro__button.hidden Узнать больше