section.services.section
    h1 Наши услуги
    .wrapper
        #slider.slider
            .slider-container
                .slide-1
                    img(src="media/app-email.svg" alt="web apps").slider__image
                    .slider__text
                        h2 Веб-приложение
                        p.
                            React, Angular, php, Python, Node.js.
                            This is Photoshop's version  of Lorem
                            Ipsum. Proin gravida nibh vel velit auctor
                            aliquet. Aenean sollicitudin, lorem quis
                            bibendum auctor, nisi elit consequat
            .slider-container
                .slide-1
                    img(src="media/enterprise_icon2.svg" alt="databases").slider__image
                    .slider__text
                        h2 Базы данных
                        p.
                            React, Angular, php, Python, Node.js.
                            This is Photoshop's version  of Lorem
                            Ipsum. Proin gravida nibh vel velit auctor
                            aliquet. Aenean sollicitudin, lorem quis
                            bibendum auctor, nisi elit consequat